@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300&display=swap');

body {
    font-family: 'Montserrat';
    padding: 0px;
    background-image: url(/image/pexels-lisa-fotios-1921336.jpg);
    

  }
  img {
    max-width: 90%;
	  height: auto;
  }
  
  input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(5, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }
  label{margin-right: 0px;
    margin-left: 0px;
    width: 100%;}
  
  input[type=submit] {
    background-color: #666263;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #f9004d;
    
  }
  
  .container {
    
    box-sizing : border-box;
    border-radius:5px;
    background-color:#e4e4e4;
    padding:20px;
    width: 100%;
    max-width: 440px;
    margin:0 auto;
  }
  h1  {
    display: flex;
    justify-content: center;
    color: #f9004d;
    width: 100%;
  }
    h1:hover {
    color: #666263

  }
  
  